/.cache/
/.org-id-locations
/auto-save-list/
/ede-projects.el
/eln-cache/
/xkcd/
/url/
/tree-sitter/
/transient/
/tramp
/recentf
/projects
/projectile-bookmarks.eld
/places
/multisession/
/kkcrc
/init.el~
/history
/forge-database.sqlite
/forge-database-v14-20250331-1733.sqlite
/elpaca/
/elpa/
/diary~
/org-roam.db
